# MongoDB Connection URL (Replace with your MongoDB Atlas connection string or local MongoDB)
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
DB_NAME=jesuyouth

# Server Port
PORT=8000
